<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <span class="navbar-brand">Navigation bar </span>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a  class="nav-link active" aria-current="page"routerLink="/first-component" routerLinkActive="active">First Component</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/second-component" routerLinkActive="active">second Component</a>
        </li>
        <li class="nav-item">
          <a  class="nav-link " routerLink="/third-component" routerLinkActive="active">third Component</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
